:root {
  /* background-color */
  --bg-dark-blue: rgb(13, 18, 57);
  --bg-dark-blue-7: rgba(13, 18, 57, 0.75);
  --bg-light-blue: rgb(1, 65, 126);
  --bg-light-blue-5: rgb(1, 65, 126, 0.7);
  

  /* text-color */
  --tx-white: #eeee;
  --tx-light-blue: #00C2FF;

  --tx-blue: #0030FF;

  /* font-family */
  --montserrat: 'Montserrat', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
}

body {
  background: -moz-radial-gradient(circle at 15% 28%, rgba(1, 65, 126, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 15% 28%, rgba(1, 65, 126, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 15% 28%, rgba(1, 65, 126, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 15% 28%, rgba(1, 65, 126, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 15% 28%, rgba(1, 65, 126, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.text-blue {
  font-family: var(--montserrat);
  font-weight: bold;
  color: var(--tx-light-blue);
}
