:root {
  /* background-color */
  --bg-dark-blue: #0D1239;
  --bg-light-blue: #01417e;

  /* text-color */
  --tx-white: #FFFFFF;
  --tx-light-blue: #00C2FF;
  --tx-blue: #0030FF;

  /* font-family */
  --montserrat: 'Montserrat', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
}

body {
  background: -moz-radial-gradient(circle at 15% 28%, rgba(1, 65, 126, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 15% 28%, rgba(1, 65, 126, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 15% 28%, rgba(1, 65, 126, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 15% 28%, rgba(1, 65, 126, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 15% 28%, rgba(1, 65, 126, 1) 0%, rgba(4, 12, 24, 1) 100%);
}
