:root {
  /* background-color */
  --bg-dark-blue: rgb(13, 18, 57);
  --bg-dark-blue-7: rgba(13, 18, 57, 0.75);
  --bg-light-blue: rgb(1, 65, 126);
  --bg-light-blue-5: rgb(1, 65, 126, 0.7);
  

  /* text-color */
  --tx-white: #eeee;
  --tx-light-blue: #00C2FF;

  --tx-blue: #0946a2;

  /* font-family */
  --montserrat: 'Montserrat', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
}

body {
  background: -moz-radial-gradient(circle at 15% 28%, rgba(1, 65, 126, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 15% 28%, rgba(1, 65, 126, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 15% 28%, rgba(1, 65, 126, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 15% 28%, rgba(1, 65, 126, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 15% 28%, rgba(1, 65, 126, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.text-blue {
  font-family: var(--montserrat);
  font-weight: bold;
  color: var(--tx-light-blue);
}

.gradient__text {
  background-color: var(--tx-light-blue);
  background-image: linear-gradient(24deg, var(--tx-light-blue), var(--tx-blue));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  background-clip: text;
}


body::-webkit-scrollbar {
  width: 9px;
  background-color: #03274B;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 10px;
  border-right: 3px solid #03274B;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }